@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(https://images.unsplash.com/photo-1518929458119-e5bf444c30f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-bottom: 60px;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #79f803;
    display: block;
    margin: auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 82px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    color: black;
    border: 1px solid #79f803;
    background: #79f803;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
}

/* -------Inicio --------*/

.inicio {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: black;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* ------------ Nosotros -----------------*/
.nosotros {
    margin: 100px auto;
    width: 82%;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url(/img/galeria.avif);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.nosotros h2 {
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

.nosotros p {
    color: #fff;
    font-size: 16px;
}


/* ------- Equipo de computo ------- */

.equipo {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color: black;
}

.equipo h3 {
    font-size: 24px;
}

.equipo .leyenda {
    font-size: 20px;
}

.equipo h4 {
    font-size: 20px;
}

.equipo img {
    width: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.equipo p {
    color: black;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.item-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* ------Seccion de contacto ----------*/
.contacto {
    margin: 100px auto;
    width: 90%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contacto h3 {
    font-size: 17px;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px) {
    .contacto h3{
        font-size: 14px;
    }
}

/* ------ Footer ------*/
.footer {
    padding-top: 80px;
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: rgb(16, 16, 190);
  }
  
.footer h4 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
}

.footer p {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.footer img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@media(max-width: 900px) {
    .footer {
        background: #fff3f3;
    }

    .footer h4 {
        color: black;
    }

    .footer p{
        color: black;
    }
}